body {
    margin: 0;
    padding: 0;

}
#video-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
video {
    height: 300px;
    width: 400px;
    object-fit: cover;
    padding: 8px;

}
.main {
    height: 100vh;
    display: flex;

}
.main_left{
    flex: 0.8;
    display: flex;
    flex-direction: column;
}
.main_right{
    flex:0.2;
}
.main_videos {
    flex-grow: 1;
    background-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.main_controls{
    background-color: #1c1e20;
} 
.main_controls{
    display: flex;
    background-color: #111;
    color: #fff;
    padding: 5px;
    justify-content: space-between;
}
.main_controls_block {
    display: flex;
}
.main_controls_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    min-width: 80px;
    cursor: pointer;

}
.main_controls_button i {
    font-size: 24px;
}
.main_controls_button:hover{
    background-color: #343434;
    border-radius: 5px;
}

.main_right{
   flex: 0.2;
    display: flex;
    flex-direction:column ;
    background-color: #232423;
    border-left: 1px solid #3d3d42;
}
.main_header {
    color: #f5f5f5;
    text-align: center;
}
.main_chat_window {
    flex-grow: 1;
    overflow-y: scroll;
}
.main_message_container {
    padding: 22px 12px;
    display: flex;
}
.main_message_container input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: white;
}
.messages {
    color: white;
    list-style: none;
}
.unmute  {
    color: red;
}
.stop {
    color: red;
}
.leave_meeting {
    color: red;
}